.App {
  text-align: center;
}

.flexbox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}


.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #313131;
  padding: 15px;
}

.flexbox .board .card{
margin-bottom: 15px;
cursor: pointer;
  background-color: #f3f3f3;
  padding: 15px 25px;
}